%section#profile-editor
  .row
    .small-12.columns
      %h2 Edit Profile
  .row
    .small-12.columns
      .well
        = form_for(current_artist, url: artist_registration_path, html: {multipart: true, method: :put}) do |form|
          .row
            .small-4.columns
              %input#photo-dropzone{:name => "artist[image]", :type => "file"}/
            .small-8.columns
              .row
                .small-12.columns
                  = form.label :name
                  = form.text_field :name
                .small-6.columns
                  = form.label :website_url, "Website URL"
                  = form.text_field :website_url
                .small-6.columns
                  = form.label :itunes_url, "Itunes URL"
                  = form.text_field :itunes_url
                .small-6.columns
                  = form.label :video_url, "Youtube Video URL (For Profile)"
                  = form.text_field :video_url
                .small-6.columns
                  = form.label :email, "Admin Email"
                  = form.text_field :email
                .small-6.columns
                  = form.label :city, "City"
                  = form.text_field :city
                .small-6.columns
                  = form.label :state, "State"
                  = form.text_field :state
          .row
            .small-12.columns.pad-top
              = form.label :about_me, "Content"
              = form.text_area :about_me, class: "editor"
          .row
            .small-4.columns.pad-top
              = submit_tag "Submit", class: "button button-green"
:javascript
  tinyMCE.init({
    selector: 'textarea.editor'
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#photo-dropzone input').hide();

            $('#target').show();

        }

        reader.readAsDataURL(input.files[0]);
        }
    }

