%section#profile-editor
  .row
    .small-12.columns
      %h2 Edit Profile
  .row
    .small-12.columns
      .well
        = form_for(current_artist, url: artist_registration_path, method: 'PUT', id: "my-awesome-dropzone.dropzone") do |form|
          .row
            .small-4.columns
              %input#photo-dropzone{:name => "file", :type => "file"}/
            .small-8.columns
              .row
                .small-12.columns
                  = form.label :name
                  = form.text_field :name
                .small-6.columns
                  = form.label :website_url, "Website URL"
                  = form.text_field :website_url
                .small-6.columns
                  = form.label :itunes_url, "Itunes URL"
                  = form.text_field :itunes_url
                .small-6.columns
                  = form.label :video_url, "Youtube Video URL (For Profile)"
                  = form.text_field :video_url
                .small-6.columns
                  = form.label :email, "Admin Email"
                  = form.text_field :email
          .row
            .small-12.columns.pad-top
              = form.label :about_me, "Content"
              = form.text_area :about_me, class: "jqte"
          = submit_tag "Submit", class: "button button-green"
- content_for(:page_javascript) do
  :javascript
    $(document).ready(function() {
        $(".jqte").jqte();
    });
