- if pledge
  .reward
    %h3== #{number_to_currency(reward.price, precision:0)} Per Month
    %h5 Supporters
    - @supporters = Pledge.where(:reward_id => reward.id)
    %h5= @supporters.count
    %p= reward.description
    %a.button.button-green{:href => new_reward_pledge_path(reward)} Pledge
- if edit
  .small-4.columns
    .reward
      %h3== #{number_to_currency(reward.price, precision:0)} Per Month
      %h5 Supporters
      - @supporters = Pledge.where(:reward_id => reward.id)
      %h5= @supporters.count
      %p= reward.description
      %a.button.button-green{:href => edit_artist_reward_path(current_artist, reward)} Edit
- if new_pledge
  .reward
    %h4== #{number_to_currency(reward.price, precision:0)} Per Month
    %h5 Supporters
    - @supporters = Pledge.where(:reward_id => reward.id)
    %h5= @supporters.count
    %p=  reward.description
    %a.button.button-green{:href => new_reward_pledge_path(@reward)} Pledge
