#subnav
  %ul
    %li
      %a
        %img{:alt => "", :src => image_path("icons/fans.svg")}>/
        = link_to "Fans",{view: :dashboard_fans}, remote: true, class: 'fans'
    %li
      %a
        %img{:alt => "", :src => image_path("icons/rewards.svg")}>/
        = link_to "Rewards",{view: :dashboard_rewards}, remote: true, class: 'rewards'
    %li
      %a
        %img{:alt => "", :src => image_path("icons/creditcard.svg")}>/
        = link_to "Payment Info",{view: :dashboard_payments}, remote: true, class: 'payments'
    %li
      %a
        %img{:alt => "", :src => image_path("icons/edit.svg")}>/
        = link_to "Profile",{view: :dashboard_profile}, remote: true, class: 'profile'
    %li
      %a
        %img{:alt => "", :src => image_path("icons/logout.svg")}>/
        = link_to "Log Out", destroy_artist_session_path, method: :delete

.dashboard

  %h3 Welcome to your dashboard.