%section#profile
  .container
    %h1
      = image_tag "icons/verified-badge.svg"
      = artist.name
    .row
      .small-8.columns
        .video
          - if artist.video_url == nil || artist.video_url == ""
            = image_tag(artist.image.url(:profile), size: "610x457.5")
          - else
            = raw YouTubeAddy.youtube_embed_url(artist.video_url,610,457.5)
        / small-8
      .small-4.columns
        .stats
          .stat
            %h5= artist.pledges.count
            %h6 Fans
          -# .hr
          -# .stat
            %h5= artist.number_of_followers
            %h6 Followers
          -# .hr
          -# .stat
            %h5= number_to_currency(@total, precision: 0)
            %h6 Permo
        / stats
        .info
          %ul
            / %li
            /   %a{:href => "#"}
            /     = image_tag "icons/genre.svg"
            /     Singer/Songwriter (What is this?)
            %li
              %a{:href => "#"}
                - if artist.city == nil
                  = image_tag "icons/location.svg"
                  = "No city listed"
                -else
                  = image_tag "icons/location.svg"
                  = artist.formatted_location
            %li
              %a{:href => artist.website_url}
                = image_tag "icons/link.svg"
                = artist.website_url
        .actions
          %a.button.button-green.pledge-button{:href => artist_rewards_path(params[:id])} Pledge
          %a#message.button.button-lightgreen{:href => "#"}
            %span Send Message
            = image_tag "icons/message.svg"
          %a#follow.button.button-lightgreen{:href => "#"}
            %span Follow
            = image_tag "icons/follow.svg"
      / small-4
    / /row
    #profile-content.row
      .small-8.columns
        %h2== About #{artist.name}
        .hr-with-margin
        = social_share_button_tag(artist.name, :url => "http://bandfundapp.herokuapp.com/artists/#{artist.id}", :image => artist.image.url)
        = artist.about_me.html_safe unless artist.about_me == nil
      .small-4.columns
        %h2 Rewards
        .hr-with-margin
        = render partial:'reward', pledge: true, collection: artist.rewards, locals: {pledge: true, edit: false, new_pledge: false}
      / /rewards
    / /row
  / /container
%section#secondary-cta
  .row
    .small-12.columns
      %h6 Earn rewards by pledging to Carter Hulsey
      %a.button.button-green.pledge-button{:href => artist_rewards_path(params[:id])} Pledge
