.container
  %section#checkout-form
    = form_tag("/rewards/#{@reward.id}/pledges",method: 'POST', id: "payment-form") do
      .row
        #checkout-form.small-8.columns
          .row
            #name-form.small-12.columns
              .row
                .small-6.columns
                  %label{:for => "First_Name"} First Name
                  %input{:name => "First_Name", :placeholder => "First Name", :type => "text"}/
                .small-6.columns
                  %label{:for => "Last_Name"} Last Name
                  %input{:name => "Last_Name", :placeholder => "Last Name", :type => "text"}/
              .row
                .small-12.columns
                  %label{:for => "Email"} Email
                  %input{:name => "Email", :placeholder => "Email Address", :type => "text"}/
            #address-info.small-12.columns
              %h4 Billing Address
              .row
                .small-12.columns
                  %label{:for => "Address1"} Address 1
                  %input{:name => "Address1", :placeholder => "Address 1", :type => "text"}/
              .row
                .small-12.columns
                  %label{:for => "Address2"} Address 2
                  %input{:name => "Address2", :placeholder => "Address 2", :type => "text"}/
              .row
                .small-6.columns
                  %label{:for => "City"} City
                  %input{:name => "City", :placeholder => "City", :type => "text"}/
                .small-6.columns
                  %label{:for => "State"} State
                  %input{:name => "State", :placeholder => "State", :type => "text"}/
              .row
                .small-6.columns
                  %label{:for => "ZIP"} ZIP
                  %input{:name => "ZIP", :placeholder => "ZIP Code", :type => "text"}/
                .small-6.columns
                  %label{:for => "Country"} Country
                  %input{:name => "Country", :placeholder => "Country", :type => "text"}/
            #address-info.small-12.columns
              %h4 Shipping Address
              .row
                .small-12.columns
                  %label{:for => "Shipping_Address1"} Address 1
                  %input{:name => "Shipping_Address1", :placeholder => "Address 1", :type => "text"}/
              .row
                .small-12.columns
                  %label{:for => "Shipping_Address2"} Address 2
                  %input{:name => "Shipping_Address2", :placeholder => "Address 2", :type => "text"}/
              .row
                .small-6.columns
                  %label{:for => "Shipping_City"} City
                  %input{:name => "Shipping_City", :placeholder => "City", :type => "text"}/
                .small-6.columns
                  %label{:for => "Shipping_State"} State
                  %input{:name => "Shipping_State", :placeholder => "State", :type => "text"}/
              .row
                .small-6.columns
                  %label{:for => "Shipping_ZIP"} ZIP
                  %input{:name => "Shipping_ZIP", :placeholder => "ZIP Code", :type => "text"}/
                .small-6.columns
                  %label{:for => "Shipping_Country"} Country
                  %input{:name => "Shipping_Country", :placeholder => "Country", :type => "text"}/
            #billing-info.small-12.columns
              .row
                .small-6.columns
                  %label{:for => "Credit Card Number"} Credit Card Number
                  %input{"data-stripe" => "number", :placeholder => "XXXX XXXX XXXX XXXX", :size => "20", :type => "text"}/
                .small-3.columns
                  %label{:for => "Month"} Month
                  %input{"data-stripe" => "exp-month", :placeholder => "XX", :size => "2", :type => "text"}/
                .small-3.columns
                  %label{:for => "Year"} Year
                  %input{"data-stripe" => "exp-year", :placeholder => "XXXX", :size => "4", :type => "text"}/
              .row
                .small-6.columns
                  %label{:for => "Security Code"} Security Code
                  %input{"data-stripe" => "cvc", :placeholder => "XXX", :size => "4", :type => "text"}/
                .small-6.columns
                  %label{:for => "Billing ZIP"} Billing ZIP
                  %input{:name => "Billing ZIP", :placeholder => "XXXXX", :type => "text"}/
        / Form Side
        #checkout-info.small-4.columns
          / Info Side
          %img#cards-image{:alt => "", :src => image_path("cards.svg")}/
          .hr-with-margin
            = render partial:'/artists/reward', pledge: true, locals: {reward: @reward, pledge: false, edit: false, new_pledge: true}
        / row
        .row.pad-top
          .small-12.columns
            = submit_tag "Submit", class: "button button-green"

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
:javascript
  $(document).ready(function() {
        // This identifies your website in the createToken call below
  Stripe.setPublishableKey('#{ENV["STRIPE_PUBLISHABLE_KEY"]}');

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };

  $(document).ready(function() {
    $('#payment-form').submit(function(e) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
    });
  });




  })
