%section#checkout-form
  = form_tag("/rewards/#{@reward.id}/pledges",method: 'POST', id: "payment-form") do
    .row
      #checkout-form.small-12.medium-8.columns
        .row
          #name-form.small-12.columns
            .row
              .small-6.columns
                %label{:for => "First_Name"} First Name
                %input{:id => "First_Name", :name => "First_Name", :placeholder => "First Name", :type => "text"}/
              .small-6.columns
                %label{:for => "Last_Name"} Last Name
                %input{:id => "Last_Name", :name => "Last_Name", :placeholder => "Last Name", :type => "text"}/
            .row
              .small-12.columns
                %label{:for => "Email"} Email
                %input{:name => "Email", :placeholder => "Email Address", :type => "text"}/
          #address-info.small-12.columns
            %h4 Billing Address
            .row
              .small-12.columns
                %label{:for => "Address1"} Address 1
                %input{:name => "Address1", :placeholder => "Address 1", :type => "text"}/
            .row
              .small-12.columns
                %label{:for => "Address2"} Address 2
                %input{:name => "Address2", :placeholder => "Address 2", :type => "text"}/
            .row
              .small-6.columns
                %label{:for => "City"} City
                %input{:name => "City", :placeholder => "City", :type => "text"}/
              .small-6.columns
                %label{:for => "State"} State
                %input{:name => "State", :placeholder => "State", :type => "text"}/
            .row
              .small-6.columns
                %label{:for => "ZIP"} ZIP
                %input{:name => "ZIP", :placeholder => "ZIP Code", :type => "text"}/
              .small-6.columns
                %label{:for => "Country"} Country
                %input{:name => "Country", :placeholder => "Country", :type => "text"}/
          #billing-info.small-12.columns
            .row
              .small-6.columns
                %label{:for => "card_number"} Credit Card Number
                %input{id: "card_number", "data-stripe" => "number", :placeholder => "XXXX XXXX XXXX XXXX", :size => "20", :type => "text"}/
              .small-3.columns
                %label{:for => "card_month"} Month
                %input{id: "card_month", "data-stripe" => "exp-month", :placeholder => "XX", :size => "2", :type => "text"}/
              .small-3.columns
                %label{:for => "card_year"} Year
                %input{id: "card_year", "data-stripe" => "exp-year", :placeholder => "XXXX", :size => "4", :type => "text"}/
            .row
              .small-6.columns
                %label{:for => "security_code"} Security Code
                %input{id: "security_code", "data-stripe" => "cvc", :placeholder => "XXX", :size => "4", :type => "text"}/
              .small-6.columns
                %label{:for => "billing_zip"} Billing ZIP
                %input{id: "billing_zip", :name => "Billing ZIP", :placeholder => "XXXXX", :type => "text"}/
              .small-12.columns
                .payment-errors
                  = @stripe_errors if @stripe_errors
                = submit_tag "Submit", class: "button button-green", onclick: "this.disabled=true;this.value='Sending, please wait...';this.form.submit();"
      / Form Side
      #checkout-info.small-12.medium-4.columns
        / Info Side
        %img#cards-image{:alt => "", :src => image_path("cards.svg")}/
        .hr-with-margin
          = render partial:'/artists/reward', pledge: true, locals: {reward: @reward, pledge: false, edit: false, new_pledge: true}
      / row
            
