%section#profile
  .container
    .row
      .small-8.columns   
        = form_for @pledge, url: reward_pledges_path(params[:reward_id]) do |form|
          %p
            = form.label :credit_card
            = form.text_field :credit_card
          %p
            = form.label :price, "Price in Dollars"
            = form.text_field :price, :value => @reward.price
            = form.hidden_field :artist_id, :value => @reward.artist_id
            = form.hidden_field :fan_id, :value => current_fan.id
          = submit_tag
      .small-4.columns
        .stats
          .stat
            %h5 Title:
            %h6= @reward.title
          .hr
          .stat
            %h5 Description:
            %h6= @reward.description
          .hr
          .stat
            %h5 Price:
            %h6= @reward.price
        