%section#cta{ :background-image: "url('cta-bg.png')"}
  #fan
    = image_tag "ipod-white.svg"
    .signup-cta
      %h2 I am a Fan
      %a.button.button-clear-white{:href => new_fan_registration_path} Sign Up
  #artist
    = image_tag "ipod-grey.svg"
    .signup-cta
      %h2 I am an Artist
      %a.button.button-clear{:href => new_artist_registration_path} Sign Up
%section#about
  .container
    .about-info
      %h3 What is Bandfund?
      %p Bandfund is a recurring crowdfunding platform for musicians and their fans.
      %a.button.button-clear-green{:href => "about"} Learn More
- if @featured_artist
  %section#featured
    .container
      = render partial: "featured_artist"
%section#discover
  %h2 Discover
  .container
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists1
        / /Page1
        .item
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists2
        / /Page2
        .item
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists3
        / /Page3
      .control-box
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("left-controller.png")}/
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("right-controller.png")}/
      / /.control-box
    / /#myCarousel
