%section#cta
  = image_tag("http://placehold.it/1300x500&text=fanheader")
%section#featured
  .container
    = render partial: "welcome/featured_artist"
%section#discover
  %h2 Discover
  .container 
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active          
          %ul.thumbnails
            = render partial:'artist', collection: @artists1
        / /Page1
        .item
          %ul.thumbnails
            = render partial:'artist', collection: @artists2
        / /Page2
        .item
          %ul.thumbnails
            = render partial:'artist', collection: @artists3
        / /Page3
      .control-box
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("left-controller.png")}/
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("right-controller.png")}/
      / /.control-box
    / /#myCarousel
