<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tag
    %title Bandfund
    = stylesheet_link_tag "application"
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}

    %script{:src => "//use.typekit.net/ufl1eak.js", :type=>"text/javascript"}
    %script try{Typekit.load();}catch(e){}

  %body
    = render partial: 'shared/navigation'

    = yield
    %footer
      .links
        .list
          %h3 Bandfund
          %ul
            %li
              %a{:href => new_fan_session_path} Login
            %li
              %a{:href => new_fan_registration_path} Sign Up
            / %li
            /   %a{:href => "#"} Tour
            / %li
            /   %a{:href => "#"} Rates
            %li
              %a{:href => "http://bandfund.com/faq"} FAQ
        .list
          %h3 About
          %ul
            / %li
            /   %a{:href => "#"} Bandfund Blog
            %li
              %a{:href => "http://bandfund.com/about#meet-the-team"} Meet the Team
            %li
              %a{:href => "http://bandfund.com/style-guide"} Branding
            / %li
            /   %a{:href => "#"} News
            / %li
            /   %a{:href => "#"} Jobs
        .list
          %h3 Support
          %ul
            / %li
            /   %a{:href => "#"} Get Started
            / %li
            /   %a{:href => "#"} Help Center
            %li
              %a{:href => "http://bandfund.com/terms"} Privacy &amp; Terms
            / %li
            /   %a{:href => "#"} Copyright
            %li
              %a{:href => "http://bandfund.com/about#contact"} Contact Us
        .list
          %h3 Artists
          %ul
            %li
              %a{:href => new_artist_session_path} Login
            / %li
            /   %a{:href => new_artist_registration_path} Sign Up
            / %li
            /   %a{:href => "#"} Resources
        .list
          %h3 Community
          %ul
            / %li
            /   %a{:href => "#"} Referrals
            %li
              %a{:href => "http://www.twitter.com/bandfundapp"} Twitter
            %li
              %a{:href => "https://www.facebook.com/bandfund"} Facebook
      .copyright
        %p
          © 2014 Bandfund |
          %a{:href => "http://bandfund.com/terms#privacy"} Privacy Policy
    = javascript_include_tag "application"
    = yield(:page_javascript)
    :javascript
      $(document).foundation();

    :javascript
      var menu = $('.main-menu ul');
      var showMenu = $('.show-menu');
      var hideMenu = $('.hide-menu');
      menu.hide();
      hideMenu.hide();
      hideMenu.on('click', function(){
        menu.hide();
        hideMenu.hide();
        showMenu.show();
      })

      showMenu.on('click', function(){
        menu.show();
        hideMenu.show();
        showMenu.hide();
      })
